<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card [formGroup]="loginForm">
      <mat-card-header>
        <mat-card-title>
          Login With Facebook
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">        
      </mat-card-content>
      <mat-card-actions align="end">
          <button class="loginBtn loginBtn--facebook">
                        Continue with Facebook
          </button>
               </mat-card-actions>
    </mat-card>
  </div>
  