.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav.mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
    display: none;
  }

.toolbar-list {
  display: inline-block;
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.nav-toolbar-list {
  flex: 1 1 auto;
  text-align: right;
}

img {
  height: 35px;
}

a {
  text-decoration: none;
}